.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.surveys {
    width: 60%;
    margin: 20px;
    /* padding: 20px; */
    /* border: 2px solid #000; */
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.survey_options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

p {
    margin: 0;
    padding: 0;
}

.survey-link {
    color: #000;
    text-decoration: none;
}

.survey-link:hover {
    color: #000;
    text-decoration: none;
}


/* SURVEY PAGE */

.survey {
    margin-top: 100px;
}

.vote {
    display: flex;
    justify-content: center;
}

.button {
    margin-right: 20px;
}

.survey-edit-delete {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* NAVBAR */

.dashboard-nav {
    /* position: relative; */
    height: 80px;
    background-color: #6579ea;
    /* background-color: #FFF; */
    /* display: flex; */
    /* border-bottom: 1px solid #CCC; */
}

.nav-items {
    color: #FFF;
}